# Virtual environment
.venv/

# Environemnt variables
.env

# Terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info
.terraform
terraform.tfstate
terraform.tfstate.backup
node_modules

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE settings
.vscode/
.idea/